<!DOCTYPE html>
<html>
<head>
  <title>Biểu đồ</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <canvas id="myChart"></canvas>

  <script>
    // Tạo dữ liệu biểu đồ
    var data = {
      labels: ['0AM', '1AM', '2AM', '3AM', '4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12AM','1PM','2PM','3PM','4PM','5PM','6PM','7PM','8PM','9PM','10PM','11PM','12PM',],
      datasets: [{
        label: 'Doanh thu',
        data: [1000, 2000, 1500, 3000, 2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500,2500],
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    };

    // Cấu hình biểu đồ
    var options = {
      scales: {
        y: {
          beginAtZero: true
        }
      },

    };

    // Lấy thẻ canvas và vẽ biểu đồ
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: options
    });
  </script>
</body>
</html>
