 <link href="/template/plugins/sweetalert/css/sweetalert.css" rel="stylesheet">
 <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/password">Đổi Mật Khẩu</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" action="">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Mật Khẩu Cũ<span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input required type="password" class="form-control" id="old_pass" name="OldPassWord" >
                                                <p id="err_pass" style="margin: 5px 0px 0px 0px; color: red ; display: none">*Mật Khẩu không chính xác</p>
                                            </div>
                                    
                                        </div>


                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Mật Khẩu Mới<span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input required type="password" class="form-control" id="new_pass" name="NewPassWord" >
                                            </div>
                                        </div>

                                         <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="val-username">Xác Nhận Mật Khẩu<span class="text-danger"></span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input required type="password" class="form-control" id="confirm_pass" name="ConfirmPassWord" >
                                                <p id="err_confirm" style="margin: 5px 0px 0px 0px; color: red; display: none; ">*Mật Khẩu không trùng khớp</p>
                                                <p id="change_success" style="margin: 5px 0px 0px 0px; color: rgb(0, 216, 0); display:none ; ">*Đổi Mật Khẩu Thành Công</p>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <a href="/user" class="btn btn-primary">Back</a>
                                                <div id="submit_btn"  class="btn btn-primary">Change</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    

        
    <script>

            var oldPass = document.getElementById('old_pass')
            var newPass = document.getElementById('new_pass')
            var confirmPass = document.getElementById('confirm_pass')
            
            var errConfirm = document.getElementById('err_confirm')
            var errPass = document.getElementById('err_pass')
            var changeSuccess = document.getElementById('change_success')

         


        var http = new XMLHttpRequest();
        

        var submitBtn = document.getElementById('submit_btn')
        submitBtn.preventDefault

        submitBtn.addEventListener('click', function(){

            errConfirm.style.display = 'none'
            errPass.style.display = 'none'
            changeSuccess.style.display = 'none'

            if(newPass.value != confirmPass.value)
            {
                errConfirm.style.display ="block"
            }
            else{
                errConfirm.style.display = "none"
                

                http.open('POST','/user/changepassword')
                http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                http.send('oldpass='+oldPass.value+'&newpass='+newPass.value)

                http.onreadystatechange = function(){
                    if(this.readyState == 4){
                        var response = JSON.parse(this.responseText)

                        if(response.result == false){
                            errPass.style.display = 'block'
                        }
                        else{
                            changeSuccess.style.display = 'block'
                        }
                    }
                }

            }
            
        })


        function displaySuccess(){

        }


            

    </script>


